# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Jupyter notebooks checkpoints
.ipynb_checkpoints

# Logs
*.log

# PyTorch / model weights
*.pth
*.pt

# Dataset folders (optional – keep them local)
data/
results/
checkpoints/

# IDE configs
.vscode/
.idea/
