# Ignore virtual env
cv_env/
.venv/
venv/

# Ignore IDE/editor files
.vscode/
.idea/

# Ignore caches
__pycache__/
*.pyc
*.pyo

# Ignore large data
data/
*.zip
*.tar
*.pth
*.h5

# Ignore runtime artifacts
.gradio/
results/temp/
